:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  color: white;
}

.Site-content {
  flex: 1;
}

header,
footer,
main {
  padding: 1.5em;
}

header,
footer {
  div {
    font-size: 1.5vw !important;
  }
}

header {
  border-bottom: 1px solid #eee;
}
footer {
  border-top: 1px solid #eee
}

.message {
  font-size: 5vw;
  width: 99%;
}

.status {
  color: yellow;
}

.last-updated {
  color: gold;
  font-style: italic;
}
