<header>
  <div id="header">
    <div class="float-left">
      {{ 'Tyler Johnston USGR' }}
    </div>
    <div class="status float-right">
      Status: {{ 'Busy' }}
    </div>
  </div>
</header>

<main class="Site-content">
  <div class="message text-center">
    <em>9:30am - 11am: Data Refresh Planning</em>
  </div>
</main>

<footer>
  <div class="float-left">
    {{ now.toDateString() }} | {{ now.toLocaleTimeString()}}
   </div>
  <div class="float-right last-updated">
    Last updated: {{ lastUpdated.fromNow() }}
  </div>
</footer>
