<header>
  <div id="header">
    <div class="float-left">
      {{ 'Tyler Johnston USGR' }}
    </div>
    <div class="status float-right">
      Status: {{ 'Available' }}
    </div>
  </div>
</header>

<main class="Site-content">
  <div class="message text-center">
    Rest of Day - Digital Product Catalog Design
  </div>
</main>

<footer>
  <div class="float-left">
    {{ now.toLocaleString() }}
  </div>
  <div class="float-right">
    <small>As of: {{ lastUpdated.toTimeString() }}</small>
  </div>
</footer>
